.centerBudget {
    background-color: #C5CBE3;
    height: calc(100vh - 120px);
    padding-left: 0px;
    padding-right: 0px;
}

.centerTable {
    padding: 0px 0px;
}

.centerColumn {
    background-color: #1890ff;
}

.deleteCategoryPopoverNoButton {
    margin-bottom: 10px;
    margin-left: 95px;
    margin-right: 20px;
}

.deleteCategoryPopoverYesButton {
    margin-bottom: 10px;
    margin-left: 20px;
}

.deleteCategoryPopover {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
}

/*.ant-table-thead > tr:first-child > th:last-child {*/
    /*border-top-right-radius: 0px;*/
/*}*/

/*.ant-table-thead > tr:first-child > th:first-child {*/
    /*border-top-left-child: 0px;*/
/*}*/