<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <script type="text/javascript" src="home.js"></script> -->
	<title>Welcome to SYMW</title>
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-blue-gray w3-card w3-large">
			<a class="w3-orange w3-large w3-hover-white w3-padding-large w3-right w3-hide-large w3-hide-medium w3-button w3-bar-item"
				href="javascript:void(0);" onclick="toggleNavigationMenu()" title="Toggle Navigation Menu">
				<i class="fa fa-bars"></i></a>
			<a href="http://localhost:8080/home" class="w3-bar-item w3-button w3-padding-large w3-white w3-margin-left">Home</a>
			<div class="w3-right">
				<a href="http://localhost:8080/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">LOG IN</a>
				<a href="http://localhost:8080/register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">SIGNUP</a>
			</div>
		</div>
		  <!-- Navbar on small screens -->
		<div id="navBarSmallScreens" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
		<a href="http://localhost:8080/login" class="w3-bar-item w3-button w3-padding-large">LOGIN</a>
		<a href="http://localhost:8080/register" class="w3-bar-item w3-button w3-padding-large">SIGNUP</a>
		</div>
	</div>
	
	<header class="w3-container w3-xlarge w3-padding-top w3-teal w3-center" style="padding:128px 16px">
		<p>Welcome! Wanna save up some money?</p>
		<button class="w3-button w3-round w3-blue-gray w3-hover-white">Get Started</button>
	</header>

    <div id="root"></div>
	
	<div class="w3-row w3-padding-small">
		<div class="w3-card-4 w3-half w3-light-grey w3-padding-small" > 
			<header><p>A short description about this first card.</p></header>
			<footer class="w3-center"><a class="w3-button w3-dark-grey" href="#">Go somewhere</a></footer>
		</div>
		<div class="w3-card-4 w3-half w3-light-grey w3-padding-small "> 
			<header><p>A short description about the second card.</p></header>
			<footer class="w3-center"><a class="w3-button w3-dark-grey" href="#">Go somewhere</a></footer>
		</div>
	</div>
	
	<!-- Dummy -->
	<footer class="w3-container w3-padding-64 w3-center w3-blue-gray">  
	  <div class="w3-small w3-padding-32">
	 </div>
	 <p>Powered by ABF</p>
	</footer>
	
<script>
	
// Used to toggle the menu on small screens when clicking on the menu button
function toggleNavigationMenu() {
    var x = document.getElementById("navBarSmallScreens");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>